:root {
  --primary-color: #6339FE;
  --primary-dark-color: #0d1833;
}

.toast-error{
    background-color: #FF3BFB !important;
    font-weight: 900;
}

.toast-success{
    background-color: #1DED9D !important;
    font-weight: 900;
}

.toast-container>div{
  opacity: 1.8 !important;
}

.kaiui-separator .kaiui-separator-text{
  margin: auto !important;
}

.separator-text-new p{
    min-height: 24px;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--separator-background-color);
    margin: auto !important;
}

.loader img {
  display: block;
  margin: auto;
  margin-top: 30%;
}

.tokentype{
  text-transform: capitalize;
}