:root {
  --primary-color: #6339FE;
  --primary-dark-color: #0d1833;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/public/assets/fonts/poppins/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/assets/fonts/poppins/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/assets/fonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/assets/fonts/poppins/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/assets/fonts/poppins/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/assets/fonts/poppins/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

.toast-error{
    background-color: #FF3BFB !important;
    font-weight: 900;
}

.toast-success{
    background-color: #1DED9D !important;
    font-weight: 900;
}

.toast-container>div{
  opacity: 1.8 !important;
}

.kaiui-separator .kaiui-separator-text{
  margin: auto !important;
}

.separator-text-new p{
    min-height: 24px;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--separator-background-color);
    margin: auto !important;
}

.loader img {
  display: block;
  margin: auto;
  margin-top: 30%;
}

.tokentype{
  text-transform: capitalize;
}